/*****
* General layout
******/
.block_my_day_buttons {
    border: 0 none !important;
    padding-top: 4px;
    overflow: hidden;
}
.block_my_day_buttons .card-title {
    display: none;
}
.block_my_day_buttons.block_with_controls .card-title {
    display: block;
}
.block_my_day_buttons .card-body {
    padding: 0 !important;
}
.block_my_day_buttons .isloading {
    height: 1px;
    overflow: hidden;
    opacity: 0;
}
.block_my_day_buttons .my-day-buttons {
    overflow: hidden;
    padding: 0 10px;
}
.block_my_day_buttons .courses {
    float: left;
}
.block_my_day_buttons .course {
    float: left;
    min-width: 220px;
    padding: 0 15px 15px 0;
    clear: both;
}
.block_my_day_buttons .view-small .course {
    width: 50%;
    min-width: 0;
}
.block_my_day_buttons .periods {
    float: left;
    padding: 0 15px 15px 0;
}
.block_my_day_buttons .view-small .periods {
    width: 50%;
}
.block_my_day_buttons .course a {
    display: block;
    position: relative;
}
.block_my_day_buttons .course a .courseimage {
    display: block;
    height: 140px;
    background-repeat: no-repeat;
    background-color: #79868F;
    background-position: center;
    background-size: cover;
}
.block_my_day_buttons .course a .course-info {
    padding: 5px 10px;
    position: absolute;
    bottom: 0;
    color: #fff;
    font-weight: 600;
    background-color: rgba(0,0,0,0.4);
    width: 100%;
}
.block_my_day_buttons .periods h4 {
    font-size: 1.5rem;
    padding-bottom: 6px;
    border-bottom: 1px solid #ddd;
    margin: 0;
}
.block_my_day_buttons .period {
    padding: 3px 0;
    border-bottom: 1px solid #ddd;
}
.block_my_day_buttons .period span:after {
    content: "•";
    margin: 0 5px;
    color: #aaa;
}
.block_my_day_buttons .period span:last-of-type:after {
    display: none;
}
.block_my_day_buttons .period .teacherphoto {
    display: inline-block;
}
.block_my_day_buttons .period .teacherphoto img {
    border-radius: 50%;
}
.block_my_day_buttons .nav{
    float: right;
    margin-top: 3px;
}
.block_my_day_buttons .aday{
    float: left;
}
.block_my_day_buttons .activitytitle{
    font-size: 1rem;
    margin-top: 10px;
}
.periods.noperiod  {
    margin-top: -10PX;
}
.period.text-truncate {
    width: fit-content;
}
.block_my_day_buttons .timetable-controls {
    margin-top: 10px;
    text-align: left;
}
a.timetable-prev {
    margin-right: 5px;
    margin-left: 10px;
}
a.timetable-next {
    margin-right: 10px;
}
